.modal {
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.25);
  }

.modal_content {
  background-color: #282c34;
  /* position: absolute;
  top: 20%;
  left: 30%;
  width: 40%; */
  padding: 20px;
  border-radius: 5px;
  border: 2px solid whitesmoke;
}

