<!DOCTYPE html>
<html>
    <head>
        <title> Admin page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>

      
        <div class="container">
          <div  class="row">
            <div class="col-3">
              <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Add Component</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Manage Components</a>
                <a class="btn btn-danger"  href="/" role="tab" aria-selected="false">Back To Home</a>
              </div>
            </div>
            <div class="col-9">
              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="mx-auto" style="width: 300px;">
                      <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Project
                              </button>
                            </h5>
                          </div>

                          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                              <form action="admin/add/project" target="_self" method="POST">
                                <div class="form-group">
                                  <label for="title">Title</label>
                                  <input type="text" class="form-control" id="title" name="title" placeholder="Enter Title">
                                </div>
                                <div class="form-group">
                                  <label for="description">Description</label>
                                  <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                                </div>
                                <div class="form-group">
                                    <label for="link">Link</label>
                                    <input type="text" class="form-control" id="link" name="link" placeholder="Link">
                                </div>
                                <div class="form-group">
                                    <label for="img_path">Image</label>
                                    <input type="text" class="form-control" id="img_path" name="img_path" placeholder="Image path">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                              </form>
                            </div>
                          </div>
                      </div>

                      <div class="card">
                        <div class="card-header" id="headingTwo">
                          <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              Skills
                            </button>
                          </h5>
                      </div>

                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                          <form action="admin/add/skill" target="_self" method="POST">
                            <div class="form-group">
                              <label for="skill">Skill</label>
                              <input type="text" class="form-control" id="name" name="name" placeholder="Enter Skill">
                            </div>
                            <div class="form-group">
                              <label for="origin">Origin</label>
                              <input type="text" class="form-control" id="origin" name="origin" placeholder="Origin">
                            </div>
                            <div class="form-group">
                                <label for="yoxp">Years of Experience</label>
                                <input type="text" class="form-control" id="yoxp" name="yoxp" placeholder="Enter years">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                        </div>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Experience
                          </button>
                        </h5>
                    </div>

                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                      <div class="card-body">

                        <form action="admin/add/experience" target="_self" method="POST">
                        <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" class="form-control" id="title" name="title" placeholder="Job Title">
                        </div>
                        <div class="form-group">
                          <label for="company">Company</label>
                          <input type="text" class="form-control" id="company" name="company" placeholder="Enter Company Name">
                        </div>
                        <div class="form-group">
                            <label for="year">Years of Employement</label>
                            <input type="text" class="form-control" id="year" name="year" placeholder="Enter years">
                        </div>
                        <div class="form-group">
                            <label for="description">Description</label>
                            <input type="text" class="form-control" id="description" name="description" placeholder="Enter description">
                        </div>
                        <div class="form-group">
                            <label for="org_link">Organisation Link</label>
                            <input type="text" class="form-control" id="org_link" name="org_link" placeholder="Company website link">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                      </form>
                      </div>
                    </div>
                  </div>

                  <div class="card">
                      <div class="card-header" id="headingFour">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Education
                          </button>
                        </h5>
                    </div>

                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                      <div class="card-body">
                      <form action="admin/add/education" target="_self" method="POST">
                      <div class="form-group">
                        <label for="major">Major</label>
                        <input type="text" class="form-control" id="major" name="major" placeholder="Degree Title">
                      </div>
                      <div class="form-group">
                        <label for="institution">Institution</label>
                        <input type="text" class="form-control" id="institution" name="institution" placeholder="Enter School Name">
                      </div>
                      <div class="form-group">
                          <label for="year">Years of Study</label>
                          <input type="text" class="form-control" id="year" name="year" placeholder="Enter years">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                      </div>
                    </div>
                  </div>

                    <div class="card">
                      <div class="card-header" id="headingFive">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            About Me
                          </button>
                        </h5>
                    </div>

                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                      <div class="card-body">

                    <form action="admin/add/about_me" target="_self" method="POST">
                      <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                      </div>
                    </div>
                  </div>

                    <div class="card">
                      <div class="card-header" id="headingSix">
                        <h5 class="mb-0">
                          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            Upload pic
                          </button>
                        </h5>
                    </div>

                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                      <div class="card-body">

                    <form action="admin/upload" target="_self" method="POST" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="image">Image (PNG only)</label>
                        <input name="image" id="image" type="file" accept="image/x-png"/>
                      </div>
                      <button type="submit" class="btn btn-primary">upload</button>
                    </form>
                      </div>
                    </div>
                  </div>

                </div>
                      

                    </div>
                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                  <div class="col-9">
                      <div id="accordion">
                        <div class="card">
                          <div class="card-header" id="headingPro">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapsePro" aria-expanded="false" aria-controls="collapsePro">
                                Projects
                              </button>
                            </h5>
                          </div>

                          <div id="collapsePro" class="collapse" aria-labelledby="headingPro" data-parent="#accordion">
                            <div class="card-body">
                            {% for p in projects%}
                              <div class="row">
                                <form action="admin/delete/project{{ p.id }}" target="_self" method="POST">
                                  <div class="form-group">
                                      <label for="delete">{{ p.title }}</label>
                                      <button type="submit" id="delete" class="btn btn-danger">Delete</button>
                                  </div>
                                </form>
                                <form action="admin/edit/project/{{p.id}}" method="GET">
                                  <button type="submit" class="btn btn-info">Edit</button>
                                </form>

                                <form action="admin/make_primary/{{p.id}}" method="POST">
                                  {% if p.is_primary == true %}
                                  <button type="submit" class="btn btn-info" disabled>Make primary</button>
                                  {% endif %}
                                  {% if p.is_primary == false %}
                                  <button type="submit" class="btn btn-info">Make primary</button>
                                  {% endif %}
                                </form>


                              </div>
                            {% endfor %}
                            </div>
                          </div>
                      </div>

                        <div class="card">
                          <div class="card-header" id="headingSki">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSki" aria-expanded="false" aria-controls="collapseSki">
                                Skills
                              </button>
                            </h5>
                          </div>

                          <div id="collapseSki" class="collapse" aria-labelledby="headingSki" data-parent="#accordion">
                            <div class="card-body">
                            {% for s in skills%}
                              <div class="row">
                                <form action="admin/delete/skill/{{ s.id }}" target="_self" method="POST">
                                  <div class="form-group">
                                      <label for="delete">{{ s.name }}</label>
                                      <button type="submit" id="delete" class="btn btn-danger">Delete</button>
                                  </div>
                                </form>
                                <form action="admin/edit/skill/{{s.id}}" method="GET">
                                  <button type="submit" class="btn btn-info">Edit</button>
                                </form>
                              </div>
                            {% endfor %}
                            </div>
                          </div>
                      </div>


                      <div class="card">
                          <div class="card-header" id="headingEd">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseEd" aria-expanded="false" aria-controls="collapseEd">
                                Education
                              </button>
                            </h5>
                          </div>

                          <div id="collapseEd" class="collapse" aria-labelledby="headingEd" data-parent="#accordion">
                            <div class="card-body">
                            {% for e in education%}
                              <div class="row">
                                <form action="admin/delete/education/{{ e.id }}" target="_self" method="POST">
                                  <div class="form-group">
                                      <label for="delete">{{ e.major }}</label>
                                      <button type="submit" id="delete" class="btn btn-danger">Delete</button>
                                  </div>
                                </form>
                                <form action="admin/edit/education/{{e.id}}" method="GET">
                                  <button type="submit" class="btn btn-info">Edit</button>
                                </form>
                              </div>
                            {% endfor %}
                            </div>
                          </div>
                      </div>


                        <div class="card">
                          <div class="card-header" id="headingExp">
                            <h5 class="mb-0">
                              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseExp" aria-expanded="false" aria-controls="collapseExp">
                                Experience
                              </button>
                            </h5>
                          </div>

                          <div id="collapseExp" class="collapse" aria-labelledby="headingExp" data-parent="#accordion">
                            <div class="card-body">
                            {% for e in experience%}
                              <div class="row">
                                <form action="admin/delete/experience/{{ e.id }}" target="_self" method="POST">
                                  <div class="form-group">
                                      <label for="delete">{{ e.title }}</label>
                                      <button type="submit" id="delete" class="btn btn-danger">Delete</button>
                                  </div>
                                </form>
                                <form action="admin/edit/experience/{{e.id}}" method="GET">
                                  <button type="submit" class="btn btn-info">Edit</button>
                                </form>
                              </div>
                            {% endfor %}
                            </div>
                          </div>
                      </div>

                      </div>
                    
                  </div>
                </div>
                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">...</div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">...</div>
              </div>
            </div>
          </div>
        </div>

        

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>


</html>