<!DOCTYPE html>
<html>
    <head>
        <title> Admin page</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <div class="mx-auto" style="width: 300px;">
                            <form action="/admin/update/skill/{{id}}" target="_self" method="POST">
                                <div class="form-group">
                                <label for="name">Skill</label>
                                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Skill" value="{{name}}">
                                </div>
                                <div class="form-group">
                                <label for="origin">Origin</label>
                                <input type="text" class="form-control" id="origin" name="origin" placeholder="Enter Origin" value="{{origin}}">
                                </div>
                                <div class="form-group">
                                    <label for="yoxp">Years of Experience</label>
                                    <input type="text" class="form-control" id="yoxp" name="yoxp" placeholder="Years of Experience" value="{{yoxp}}">
                                </div>
                                <button type="submit" class="btn btn-primary">Edit</button>
                            </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>


</html>